<!--About Us page which tells us who we are, what we do and our motto-->
<!--Bootstrap classes are used to style this page with some inline css properties-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="margin-top: 10px; background-color: gold;">
                <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                    <h2 class="card-title"><strong>Electronic Blogs and Products</strong></h2>
                    <h4><em>A magical and revolutionary device at an unbelievable price</em></h4><br>
                    <p class="card-text">DC Star is an independent online electronic blog Service that aims to provide you best quality 
                        of electronic gadgets with some deals and coupons.</p>
                    <p class="card-text">Since we are independent, we may add or remove products provided by other ecommerce websites 
                        based on their deals and coupons in that day.</p> 
                    <br><h5 class="card-text"><strong>Our prime motive is: Your Vision, Our Future</strong></h5>
                </div>     
            </div>
        </div>
    </div>
</div>